


.container {
    width: 373px;
    margin-top: 13px;
}

::ng-deep  .btn-warning {
    width: 83px !important;
}

.login-button {
   text-align: end;
   margin-right: 127px;
  
}

::ng-deep .btn-info {
    width: 7%;
}
 


.icon-set {
    margin-left: 9px;
    margin-top: 14px;
}

.button-eye {
    border-radius: 20px !important;
    width: 40px !important;
}

.checkbox-class {
    cursor: pointer;
}

.colorMessage {
    color: red;
}