<body>
    <div class="calculator">
    
        <input class="input-calculator" type="text" [value]="currentValue" disabled />
        
        <div class="calculator-keys">
            <button type="button"  class="btn btn-secondary button-style"  (click)="clearAll()">AC</button>
            <button type="button"  class="btn btn-secondary button-style" (click)="clear()">C </button>
            <button type="button"  class="btn btn-secondary button-style" (click)="getPercentage()">%</button>
            <button type="button" (click)="selectOperator()" class="btn btn-secondary button-style" value="+" (click)="executeOperation('+')">+</button>
            <!-- <button type="button"  class="btn btn-secondary button-style">POT</button> -->
            <button type="button" class="btn btn-dark button-style"  value="7" id="index" (click)="addNumber('7')">7</button>
            <button type="button" class="btn btn-dark button-style"  value="8" (click)="addNumber('8')" >8</button>
            <button type="button" class="btn btn-dark button-style"  value="9" (click)="addNumber('9')" >9</button>
            <button type="button" class="btn btn-secondary button-style" value="-" (click)="executeOperation('-')">-</button>
            <button type="button" class="btn btn-dark button-style"  value="4" (click)="addNumber('4')" >4</button>
            <button type="button" class="btn btn-dark button-style"  value="5" (click)="addNumber('5')" >5</button>
            <button type="button" class="btn btn-dark button-style"  value="6" (click)="addNumber('6')"> 6</button>
            <button type="button" class="btn btn-secondary button-style" value="/" (click)="executeOperation('/')">&divide;</button>
            <button type="button" class="btn btn-dark button-style"  value="1" (click)="addNumber('1')">1</button>
            <button type="button" class="btn btn-dark button-style"  value="2" (click)="addNumber('2')">2</button>
            <button type="button" class="btn btn-dark button-style"  value="3" (click)="addNumber('3')">3</button>
            <button type="button" class="btn btn-secondary button-style" value="*" (click)="executeOperation('*')">&times;</button>
            <button type="button" class="btn btn-dark button-style" (click)="getDecimal('.')" value="." >.</button>
            
            <button type="button" class="btn btn-dark button-style" value="0" (click)="addNumber('0')" >0</button>
            <P>ecco qua</P>
        
        
        
        
        
        
        <button data-equals  class="btn btn-danger" value="=" (click)="executeOperation('=')" >=</button>
        
        </div>
      </div>
   
  </body>
