

<!-- nuovo lay-->

  <!DOCTYPE html>
  <html lang="en" >

  <body>
  <!-- partial:index.partial.html -->
  <!DOCTYPE html>
  <html>

  <body>
    <div class="main">  	
      <input type="checkbox" id="chk" aria-hidden="true">
  
        <div class="signup">
          <form [formGroup]="registerForm">
            <label for="chk" aria-hidden="true">Registrati</label>
            <input type="text" id="user"  name="username" placeholder="username" formControlName="username" >
       
            <input type="email" id="email" name="email" placeholder="email" formControlName="email" >
            <p class='error-login-input' *ngIf="flgEmailErrata">{{errorMessageEmail}}</p>
            <input id="pw" [type]="hidePassword ? 'password' : 'text'" name="pswd" placeholder="Password" class="password-class" formControlName="password"  name="psw">
            <span class="eye-class-pw" (click)="showHidePassword()"> <i class="fa fa-eye" [ngClass]="hidePassword ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true" ></i></span>
         
            <div *ngIf="flgPasswordErrataInvalid">
              <p class="colorMessage">{{errorPasswordInvalid}}</p>
            </div>
            <input [type]="hideRepPassword ? 'password' : 'text'" placeholder="Ripeti Password" formControlName="repPassword"  >
            <span class="eye-class-pw" (click)="showHideRepPassword()"> <i class="fa fa-eye" [ngClass]="hideRepPassword ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true" ></i></span>
  
            <div class="d-flex justify-content-center">
              <input type="checkbox"  class="checkbox-class"  formControlName="flgChecked"
              >
              <span class="form-check-label" for="exampleCheck1">Accetto termini e condizioni</span>
            </div>
          
            <button type="submit" [ngClass]="'registerForm.invalid' ? 'disable-button' : ''  " (click)="registraUtente()" [disabled]="registerForm.invalid">Sign up</button>
          </form>
        </div>
  
        <div class="login">
          <form [formGroup]="loginForm">
            <label for="chk" aria-hidden="true">Login</label>
            <input type="email" name="email" placeholder="Email"  formControlName="email">
            <input type="password" name="psw" placeholder="Password" formControlName="password" >
            <button [disabled]="loginForm.invalid"  (click)="loginUser(loginForm.value.email, loginForm.value.password)">Login</button>
          </form>
        </div>
    </div>
  </body>
  </html>

    
  </body>
  </html>
  

  